$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #ffecb3;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo.hover {
  text-decoration: none;
}

.center {
  text-align: center;
  padding-top: 100px;
}

.navbar {
  background-color: #94b8b8;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.jumbotron {

  background-image: asset-url("Vietnam2.jpeg");
  background-size: cover;
  height: 600px;
}

.jumbtron h1 {
  color: #ffecb3;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron2 {
  background-image: asset-url("Amsterdam.jpeg");
  background-size: cover;
  height: 600px;
}

.btn-xlarge {
  font-size: 1.5em;
  background-color: #a6a6a6;
  color:  #fff9e6;
}

.container {
  font-family: "Times New Roman", Times, serif;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}


footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 3px solid #eaeaea;
  color: #52527a;
}

footer a:hover {
  color: #222;
}

foot small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}