
.body{
  background-color: green;
}

.navbar {
  background-color: green;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.jumbotron1 {
  position: relative;
  background:#e6e6ff url("https://images.unsplash.com/photo-1432212920371-6a2b5f1dbb09?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375") center center;
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.jumbotron2 {
  position: relative;
  background:#e6e6ff url("https://images.unsplash.com/photo-1447877980755-c3c642760061?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375") center center;
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.container {
  font-family: "Times New Roman", Times, serif;
}
